<div class="feature">
    
    <div class="description">
        <h1>We'er fast</h1>
        
        <p>Enjoy on-the-spot accounts, instant top-ups and real-time spending notifications. Opening a mobile money account with us is quick and easy. And adding money? Even easier. We’ll get you up and running in no time.</p>
    </div>

    <div class="image-holder">
        <img src="/src/images/iphone 2.png" alt="">
    </div>
</div>

<div class="feature reverse">
    
    <div class="description">
        <h1>We're with you on the go</h1>
        
        <p>You’ll quickly find that we make a great travel companion on all your adventures. Use your card to withdraw anywhere in the world, with no fees or bad exchange rates for spending abroad. Spend and enjoy your money internationally with total peace of mind.</p>
    </div>

    <div class="image-holder">
        <img src="/src/images/card 2.png" alt="">
    </div>
</div>

<div class="feature">
    
    <div class="description">
        <h1>We'er fast</h1>
        
        <p>Enjoy on-the-spot accounts, instant top-ups and real-time spending notifications. Opening a mobile money account with us is quick and easy. And adding money? Even easier. We’ll get you up and running in no time.</p>
    </div>

    <div class="image-holder">
        <img src="/src/images/iphone 2.png" alt="">
    </div>
</div>


<section class="testimonial">

    <div class="testifier">
        <img src="/src/images/pixlr-bg-result (6) 1.png" alt="">
    </div>

    <div class="testimony">
        <p>“This is really a great app that needs to be commended. i was able to create an account on my phone swiftly. looking forward to make transactions on the app”</p>
        
        <b>- Adigun Olayinka,</b>
        
        <a href="">READ MORE STORIES <i class="fa-solid fa-angle-right"></i></a>
    </div>

</section>


<div class="feature reverse">
    
    <div class="description">
        <h1>We're with you on the go</h1>
        
        <p>You’ll quickly find that we make a great travel companion on all your adventures. Use your card to withdraw anywhere in the world, with no fees or bad exchange rates for spending abroad. Spend and enjoy your money internationally with total peace of mind.</p>
    </div>

    <div class="image-holder">
        <img src="/src/images/card 2.png" alt="">
    </div>
</div>

<div class="feature">
    
    <div class="description">
        <h1>We'er fast</h1>
        
        <p>Enjoy on-the-spot accounts, instant top-ups and real-time spending notifications. Opening a mobile money account with us is quick and easy. And adding money? Even easier. We’ll get you up and running in no time.</p>
    </div>

    <div class="image-holder">
        <img src="/src/images/iphone 2.png" alt="">
    </div>
</div>
