<main>
    <div>
        <img src="/src/images/logo white.png" alt="">
    </div>

    <div>
        <h4>Quick Links</h4>

        <ul>
            <li>
                <p>account opening (persnal)</p>
            </li>
            <li>
                <p>account opening (buisness)</p>
            </li>

            <li>
                <p>rubies juniors</p>
            </li>

            <li>
                <p>team</p>
            </li>

            <li>
                <p>contact us</p>
            </li>

            <li>
                <p>help</p>
            </li>
        </ul>
    </div>

    <div>
        <h4>Our Buisness</h4>

        <ul>

            <li>
                <p>personal banking</p>
            </li>

            <li>
                <p>buisness banking</p>
            </li>

            <li>
                <p>our mission and montra</p>
            </li>

            <li>
                <p>privacy policy</p>
            </li>

            <li>
                <p>press</p>
            </li>
        </ul>
    </div>

    <section>
        <h4>Newsletter</h4>
        
        <p>
            Be the first one to know  about discounts, offers and events. Unsubscribe whenever you like.
        </p>

        <div class="news-form">
            <input type="text" placeholder="Enter your email address...">
            <button>SUBMIT</button>
        </div>

        <div class="badges-holder">
            <div>
                <img src="/src/images/Group.png" alt="">
                <img src="/src/images/Badge Android.png" alt="">
            </div>

            <div>
                <span>
                    <i class="fa-brands fa-square-facebook"></i>
                </span>

                <span>
                    <i class="fa-brands fa-youtube"></i>
                </span>

                <span>
                    <i class="fa-brands fa-whatsapp"></i>
                </span>
            </div>
        </div>
    </section>
</main>

<section>
    <p>© 2022, All Rights Reserved</p>
</section>