
<section>
    <div class="text">
        <h1>Join Rubies for free</h1>

        <p>So what are you waiting for? Join over 2 million people who’ve found a better way to manage their money online. Sign up to Rubies to open your mobile money account today.
            Enter your email address...
            SIGN UP FOR FREE
        </p>
    </div>

    <div class="field">
        <input type="text" placeholder="Enter your email address...">
        <button>SIGN UP FOR FREE</button>
    </div>
</section>
