@import "../config";
@import "../mixing";

footer{
    background-color: $other_pallet_6;
    height: 350px;
    display: flex;
    flex-flow: column;
    padding: ($large_size + $med_size) $large_size $large_size $large_size;
    @include sideFillers($other_pallet_6);

    main{
        flex: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 2fr;
        gap: $med_size;

        h4{
            font-family: $font;
            color: $white_pallete;
        }

        p{
            font-family: $font;
            font-size: $med_size;
            color: $other_pallet_7;
        }

        div:has(ul){
            display: flex;
            flex-flow: column;
            gap: $med_size + $small_size;
            min-width: 150px;

            ul{
                display: flex;
                flex-flow: column;
                gap: $med_size;

                li {
                    list-style: none;

                    p{
                        text-transform: capitalize;
                    }
                }
            }
        }

        section{
            display: flex;
            flex-flow: column;
            gap: $med_size + $small_size;

            .news-form{
                width: 100%;
                height: 50px;
                background-color: transparentize($color: $other_pallet_7, $amount: .9);
                padding: $small_size $small_size $small_size ($large_size + $small_size);
                border-radius: $small_size;
                display: flex;

                input,button{
                    border: none;
                    outline: none;
                }

                input{
                    flex: 2;
                    background-color: transparent;
                }

                button{
                    flex: 1;
                    background-color: $white_pallete;
                    color: $other_pallet_1;
                    border-radius: $small_size;
                    cursor: pointer;
                }
            }

            .badges-holder{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                div{
                    display: flex;

                    &:has(img){
                        gap: $med_size;
                    }
    
                    &:has(span){
                        gap: $med_size;
                        font-size: $med_size + 4;
                        color: $white_pallete;

                        span{
                            cursor: pointer;
                            transition: .3s ease;

                            &:hover{
                                color: $other_pallet_1;
                            }
                        }
                    }
                }
            }
        }
    }

    & > section{
        height: 30px;
        display: grid;
        place-items: center;
        font-family: $font;
        color: $other_pallet_7;
        font-size: $med_size;
    }

    @media (max-width: 1000px) {
        height: max-content;

        main{
            grid-template-columns: repeat(3, 1fr);

            section{
                grid-column: 1 / -1;
            }
        }
    }

    @media (max-width: 600px) {
        padding: $large_size $med_size;

        main{
            grid-template-columns: repeat(2, 1fr);

            div:has(img){
                grid-column: 1 / -1;
            }

            section{
                .badges-holder{
                    flex-flow: column;
                    align-items: center;
                    gap: $med_size;
                }
            }
        }
    }
}