@import "./config";

landing-page{
    position: relative;
    height: 90vh;
    display: flex;
    overflow: hidden;

    .image-layer{
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        right: 0;

        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(.9);

            &.card-image{
                top: 70%;
            }

            &.phone-image{
                left: 40%;
            }
        }

    }

    .title-holder{
        width: clamp(300px, 100%, 600px);
        display: flex;
        flex-flow: column;
        align-self: center;
        gap: $med_size;
        
        .title-text{
            display: flex;
            flex-flow: column;
            gap: $small_size;

            h3{
                font-size: $large_size * 2;
                font-family: $font_bold;
            }
        }

        & > p{
            color: $gray_pallet;
            font-size: $med_size;
            font-family: $font;
            font-weight: bold;
        }

        .badges{
            display: flex;
            gap: $med_size;
        }
    }

    @media (max-width: 1200px) {
        
    }

    @media (max-width: 950px) {
        position: relative;

        .image-layer{
            position: absolute;
            z-index: -1;

            div {
                transform: none;

                &.card-image{
                    transform: rotate(-45deg);
                    top: 5%;
                    opacity: .1;
                }


                &.phone-image{
                    transform: rotate(45deg);
                    opacity: .1;
                    left: -80%;
                }

            }
        }

        .title-holder{
            align-items: center;
            width: 100%;

            .title-text{
                h3{
                    text-align: center;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .title-text{
            h3{
                font-size: $large_size * 1.5;
            }
        }
    }
}