@import "../config";

landing-page{
    position: relative;
    height: 90vh;
    display: flex;
    overflow: hidden;

    .image-layer{
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        right: 0;

        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(.9);

            &.card-image{
                top: 70%;
            }

            &.phone-image{
                left: 40%;
            }
        }

    }

    .title-holder{
        display: flex;
        flex-flow: column;
        align-self: center;
        max-width: 500px;
        gap: $med_size;
        
        .title-text{
            display: flex;
            flex-flow: column;
            gap: $small_size;

            h3{
                font-size: $large_size * 2;
                font-family: $font_bold;
            }
        }

        & > p{
            color: $gray_pallet;
            font-size: $med_size;
            font-family: $font;
            font-weight: bold;
        }

        .badges{
            display: flex;
            gap: $med_size;
        }
    }
}