@import "./config";

$field_bg_color: transparentize($color: $other_pallet_4, $amount: .5);

newsletter-page{
    padding: $large_size * 2;

    section{
        display: flex;
        align-items: center;
        background-color: $other_pallet_1;
        height: 250px;
        border-radius: $med_size;
        $big_pad: $med_size * 5;
        padding: $med_size $big_pad $med_size $big_pad;
        gap: $large_size * 4;

        div{
            flex: 1 ;
        }

        .text{
            display: flex;
            flex-flow: column;
            gap: $med_size + 3;
            max-width: 370px;
            color: $white_pallete;

            h1{
                font-family: $font;
            }

            p{
                font-family: $font_light;
                font-size: $med_size;
                line-height: $large_size - 4;
            }
        }

        .field{
            width: clamp(200px, 50%, 500px);
            height: 50px;
            background-color: $field_bg_color;
            border-radius: $small_size;
            display: flex;
            padding: $small_size $small_size $small_size ($med_size * 3);
            gap: $med_size;

            input{
                flex: 2;
                background-color: transparent;
                border: none;
                outline: none;

                &::placeholder{
                    color: $other_pallet_4;
                }
            }

            button{
                flex: 1;
                font-size: $med_size;
                border-radius: $small_size;
                border: none;
                outline: none;
                color: $other_pallet_1;
                cursor: pointer;
                transition: .3s;

                &:hover{
                    background-color: $other_pallet_1;
                    color: $other_pallet_4;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        section{
            gap: $large_size;
        }
    }

    @media (max-width: 900px) {
        padding: $large_size;

        section{
            padding: $med_size;
            flex-flow: column;
            height: max-content;

            .text{
                width: 100%;
                max-width: none;
            }

            .field{
                width: 100%;
                flex-flow: column;
                height: max-content;
                padding: $small_size;
                background-color: transparent;

                input{
                    flex: none;
                    width: 100%;
                    height: 50px;
                    background-color: $field_bg_color;
                    padding: $med_size;
                    border-radius: $small_size;
                }

                button{
                    flex: none;
                    align-self: center;
                    height: 30px;
                    padding: 0 $med_size;
                }
            }
        }
    }
}