// Color Palletes

$primary_pallet: #000;

$gray_pallet: #68717F;

$white_pallete: #fff;

$other_pallet_1: #ed5b5c;

$other_pallet_2: #466089;

$other_pallet_3: #5a97f4;

$other_pallet_4: #f1e3e3;


// Numeric Variables

$small_size: 6px;

$med_size: 12px;

$large_size: 24px;


// Fonts

$font: Monserat-Regular;

$font_bold: Monserat-Bold;

$font_semi_bold: Monserat-SemiBold;

$font_light: Monserat-Light;