// Color Palletes

$primary_pallet: #000;

$gray_pallet: #858C90;

$white_pallete: #fff;

$small_size: 6px;

$med_size: 12px;

$large_size: 24px;



// Fonts

$title_font: Gilory-Extra-bold;

$title_font_light: Gilory-Light;